---
layout: page
title: Diversity program
menuTitle: Diversity program
permalink: /diversity/
order: 7
---
<section class="section-speakers">
  <div class="section-container section-container--half">
    {% for post in site.posts %}
      {% if post.post_id == "diversity" %}
        <section class="section-speakers">
          <div class="section-container section-container--half">
            <div class="post-image" style="background-image: url('{{ post.image }}');"></div>
            <div class="post-content">
              {{ post.content }}
            </div>
          </div>
        </section>
      {% endif %}
    {% endfor %}
  </div>
</section>