---
layout: page
menuTitle: Home
order: 1
---
<section class="section-home-banner">
  <div class="section-container">
    <h1 class="section-home-banner__title">
      <div class="section-home-banner__title__name">EURUKO</div>
      <div class="section-home-banner__title__year">2017</div>
    </h1>
    <div class="section-home-banner__info">
      <p class="section-home-banner__info__title">
        THE ANNUAL EUROPEAN RUBY CONFERENCE WILL TAKE PLACE IN BUDAPEST
      </p>
      <div class="section-home-banner__info__divider"></div>
      <p class="section-home-banner__info__date">
        ON 29TH-30TH OF SEPTEMBER, 2017
      </p>
    </div>
  </div>
</section>

<section class="section-home-speakers">
  <div class="section-container section-container--full">
    <h2 class="section__title">Speakers</h2>
    <div class="section-home-speakers__speakers-list">

      {% for speaker in site.data.speakers %}
        <a
          class="section-home-speakers__speaker"
          href="/speakers/#{{ speaker.id }}"
        >
          <img class="section-home-speakers__speaker-photo" src="{{ speaker.photo }}" alt="{{ speaker.name }}">
          <div class="section-home-speakers__speaker-name">{{ speaker.name }}</div>
        </a>
      {% endfor %}

    </div>
  </div>
</section>

<section class="section-home-stay-tuned">
  <div class="section-container section-container--full">
    <h2 class="section__title">Stay tuned!</h2>
    <p>
      Sign up our newsletter and we keep you up-to-date
    </p>
    {% include subscription-form.html %}
  </div>
</section>

<section class="section-home-location">
  <div class="section-container section-container--divided">
    <div class="section__side section__side__text-left">
      <h2 class="section__title">Location</h2>
      <p>Often described as the "Little Paris of Middle Europe", Budapest is famous not only for the monuments reflecting its own 1,000-year-old culture, but also for the dazzling nightlife of the city.</p>
      <p><a href="/location/">More about the venue</a></p>
    </div>
    <div class="section__side section__side__image"></div>
  </div>
</section>

<section class="section-home-sponsors">
  <div class="section-container section-container--full">
    <h2 class="section__title">Our Sponsors</h2>
    <div class="section-home-sponsors__logos">
      <div class="section-home-sponsors__logo">
        <a href="https://www.catawiki.com/" class="section-home-sponsors__link">
          <img src="/assets/sponsors/catawiki_index.png">
        </a>
      </div>
      <div class="section-home-sponsors__logo">
        <a href="https://www.fyber.com/" class="section-home-sponsors__link">
          <img src="/assets/sponsors/fyber.png">
        </a>
      </div>
      <div class="section-home-sponsors__logo">
        <a href="https://www.sqreen.io" class="section-home-sponsors__link">
          <img src="/assets/sponsors/sqreen_index.png">
        </a>
      </div>
      <div class="section-home-sponsors__logo">
        <a href="https://www.toptal.com" class="section-home-sponsors__link">
          <img src="/assets/sponsors/toptal.png">
        </a>
      </div>
      <div class="section-home-sponsors__logo">
        <a href="https://www.digitalnatives.hu" class="section-home-sponsors__link">
          <img src="/assets/sponsors/digitalnatives_index.png">
        </a>
      </div>
    </div>
    <div class="section-home-sponsors__text">
      <p class="section-home-sponsors__paragraph">
        EuRuKo wouldn't happen without support from the community!<br />
        We appreciate all support we get and thank personally to every company that takes part in the conference.
      </p>
      <p class="section-home-sponsors__paragraph">
        <a href="/sponsors/">LEARN MORE</a>
      </p>
    </div>
  </div>
</section>
