---
layout: page
title: Schedule
menuTitle: Schedule
permalink: /schedule/
redirect_from: /talks/
order: 6
---
<section class="section-schedule">
  <div class="section-container section-container--full">
    <h2 class="section__title">Schedule</h2>
    {% for day in site.data.schedule %}
      <div class="schedule-day">
        <h3 class="schedule-date">
          {{ day.date }} {{ day.day }}
        </h3>
        <table>
          {% for event in day.events %}
            <tr>
              <td class="schedule-time">
                {{ event.time }}
              </td>
              <td class="schedule-title">
                <div>
                  {{ event.title }}
                  {% if event.slides %}
                    [ <a href="{{ event.slides }}">slides</a> ]
                  {% endif %}
                </div>
                {% if event.speaker_id %}
                  <div>
                    <a href="/speakers/#{{ event.speaker_id }}">
                      {% for speaker in site.data.speakers %}
                        {% if speaker.id == event.speaker_id %}
                          {{ speaker.name }}
                        {% endif %}
                      {% endfor %}
                    </a>
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
</section>
