---
layout: page
title: Speakers
menuTitle: Speakers
permalink: /speakers/
---
<section class="section-speakers">

  <div class="section-container section-container--full">
    <h2 class="section__title">Speakers</h2>
    <div class="speakers-container">

      {% for speaker in site.data.speakers %}
        <div class="speaker" id="{{ speaker.id }}">
          <img class="speaker__photo" src="{{ speaker.photo }}" alt="{{ speaker.name }}">
          <div class="speaker__details">
            <div class="speaker__name">{{ speaker.name }}</div>
            <div class="speaker__company">{{ speaker.company }}</div>
            <div class="speaker__title">{{ speaker.introduction }}</div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  <div class="section-container section-container--full">
    <h2 class="section__title">Process</h2>
    <p>
      Please email your proposal to <a href="mailto:speakers@euruko2017.org">speakers@euruko2017.org</a><br/>
      The subject should contain the [CFP] tag and the title of your talk.
    </p>

    <p>
      In the body please include:
      <ul class="section-speakers__cfp-requirements">
        <li>the abstract of your talk</li>
        <li>your full name and a few sentences about yourself</li>
        <li>your blog, twitter, github</li>
        <li>previous talk if you have (slides, video)</li>
      </ul>
    </p>

    <p>
      In the Selection process the members of the Speakers committee will order the talks and then notify the selected speakers. The notified speakers have 72 hours to ACCEPT or DECLINE the opportunity.<br/>
      If a speaker declines, the submitter of the next proposal will be contacted.
    </p>
  </div>

  <div class="section-container section-container--full">
    <h2 class="section__title">Selection guidelines</h2>
    <p>
      The proposals must follow our <a href="http://berlincodeofconduct.org">code of conduct</a>. Offensive or spamming submissions will not be tolerated. Proposals promoting a product, a company or a service will be discarded.
    </p>
    <p>
      The decision of the proposals will be neutral and strive for being unbiased (irrespective of  gender, race, domain etc.). However the speakers committee reserves the right to reject speakers who spread hate speech, racism or other extremist views.
    </p>
  </div>

  <div class="section-container section-container--full">
    <div class="section-speakers__message">
      Subscribe our newsletter to receive information about the CFP's and the Speakers
    </div>
    {% include subscription-form.html %}
  </div>

</section>

<script>

  (function(){

    if ( window.location.hash ) {
      var selectedSpeaker = document.querySelector( window.location.hash + ".speaker" );

      if ( selectedSpeaker ) {
        selectedSpeaker.className += " speaker--selected";
      }
    }

  })();

</script>