<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <p class="footer-column-title">EURUKO 2016</p>
      <p>29th-30th of September, 2017</p>
      <p>Dürer Kert - Budapest - Hungary</p>
      <p><a href="mailto:hi@euruko2017.org">hi (@) euruko2017.org</a></p>
      <p><a href="https://twitter.com/euruko" target="_blank" rel="noopener noreferrer">@euruko</a></p>
    </div>
    <div class="footer-column">
      <div class="footer-column-title">INFORMATION</div>
      <p><a href="#">Tickets</a></p>
      <p><a href="http://berlincodeofconduct.org/" target="_blank" rel="noopener noreferrer">Code of Conduct</a></p>
      <p><a href="{{ site.baseurl }}/legal-information">Legal Information</a></p>
      <p><a href="http://euruko.org/" target="_blank" rel="noopener noreferrer">Previous Events</a></p>
    </div>
    <div class="footer-column">
      <div class="footer-column-title">OUR SPONSORS</div>
      <p>Comming soon...</p>
    </div>
  </div>
</footer>
