<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <div class="footer-column__title">EURUKO 2017</div>
      <div class="footer-column__item">29th-30th of September, 2017</div>
      <div class="footer-column__item">Dürer Kert - Budapest - Hungary</div>
      <div class="footer-column__item"><a href="mailto:hi@euruko2017.org">hi@euruko2017.org</a></div>
      <div class="footer-column__item"><a href="https://twitter.com/euruko" target="_blank" rel="noopener noreferrer">@euruko</a></div>
    </div>
    <div class="footer-column">
      <div class="footer-column__title">INFORMATION</div>
      <div class="footer-column__item"><a href="https://euruko2017.yapsody.com/event/book/95176/395926" target="_blank" rel="noopener noreferrer">Tickets</a></div>
      <div class="footer-column__item"><a href="http://berlincodeofconduct.org/" target="_blank" rel="noopener noreferrer">Code of Conduct</a></div>
      <div class="footer-column__item"><a href="/legal-information/">Legal Information</a></div>
    </div>
    <div class="footer-column">
      <div class="footer-column__title">OUR SPONSORS</div>
      <div class="footer-column__item"><a href="https://www.catawiki.com/">Catawiki</a></div>
      <div class="footer-column__item"><a href="https://www.heroku.com/">Heroku</a></div>
      <div class="footer-column__item"><a href="https://www.fyber.com/">Fyber</a></div>
      <div class="footer-column__item"><a href="https://www.sqreen.io/">Sqreen</a></div>
      <div class="footer-column__item"><a href="https://www.toptal.com/top-3-percent?utm_source=euroko2017HU&utm_medium=logo&utm_campaign=sponsorships">Toptal</a></div>
      <div class="footer-column__item"><a href="https://deliveroo.co.uk/">Deliveroo</a></div>
      <div class="footer-column__item"><a href="https://www.digitalnatives.hu/">Digital Natives</a></div>
    </div>
  </div>
</footer>
