<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <div class="footer-column__title">EURUKO 2017</div>
      <div class="footer-column__item">29th-30th of September, 2017</div>
      <div class="footer-column__item">Dürer Kert - Budapest - Hungary</div>
      <div class="footer-column__item"><a href="mailto:hi@euruko2017.org">hi@euruko2017.org</a></div>
      <div class="footer-column__item"><a href="https://twitter.com/euruko" target="_blank" rel="noopener noreferrer">@euruko</a></div>
    </div>
    <div class="footer-column">
      <div class="footer-column__title">INFORMATION</div>
      <div class="footer-column__item"><a href="/tickets">Tickets</a></div>
      <div class="footer-column__item"><a href="http://berlincodeofconduct.org/" target="_blank" rel="noopener noreferrer">Code of Conduct</a></div>
      <div class="footer-column__item"><a href="/legal-information">Legal Information</a></div>
      <div class="footer-column__item"><a href="http://euruko.org/" target="_blank" rel="noopener noreferrer">Previous Events</a></div>
    </div>
    {% comment %}
    <div class="footer-column">
      <div class="footer-column__title">OUR SPONSORS</div>
      <div class="footer-column__item">Comming soon...</div>
    </div>
    {% endcomment %}
  </div>
</footer>
