<header class="header">
  <input id="nav__toggle" type="checkbox" class="nav__toggle">
  <label class="nav__toggle-label" for="nav__toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <ul class="nav">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for p in sorted_pages %}
      {% if p.menuTitle %}
        <li class="nav-item {% if p.url == page.url or p.url == include.menu_url %}nav-item--active{% endif %} {% if p.menuHighlighted %}nav-item--highlighted{% endif%}">
          <a href="{{ p.url }}">{{ p.menuTitle }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-item">
      <a href="/2017/06/21/diversity-program.html">Diversity</a>
    </li>
    <li class="nav-item nav-item--highlighted">
      <a
        href="https://euruko2017.yapsody.com/event/book/95176/395926"
        target="_blank"
        rel="noopener noreferrer"
      >
          Tickets
      </a>
    </li>
  </ul>
</header>
