<header class="header">
  <input id="nav__toggle" type="checkbox" class="nav__toggle">
  <label class="nav__toggle-label" for="nav__toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <ul class="nav">
    {% for p in site.pages %}
      {% if p.menuTitle %}
        <li class="nav-item {% if p.url == page.url %}nav-item--active{% endif %} {% if p.menuHighlighted %}nav-item--highlighted{% endif%}">
          <a href="{{ p.url }}">{{ p.menuTitle }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</header>
