<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/main.css">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#363333">
<link rel="manifest" href="/assets/favicons/manifest.json">

{% if page.title %}
  {% assign title = page.title | append: " | " | append: site.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}
<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta itemprop="name" content="{{ title }}" />

{% if page.excerpt %}
  {% assign description = page.excerpt %}
{% else %}
  {% assign description = site.description %}
{% endif %}
<meta name="description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta itemprop="description" content="{{ description }}" />

{% if page.image %}
  {% assign image = "https://euruko2017.org" | append: page.image %}
{% else %}
  {% assign image = "https://euruko2017.org/assets/facebook-header.png" %}
{% endif %}
<meta property="og:image" content="{{ image }}" />
<meta name="twitter:image:src" content="{{ image }}" />
<meta itemprop="image" content="{{ image }}" />

<meta name="twitter:card" content="summary_large_image" />
