<header class="header">
  <input id="nav__toggle" type="checkbox" class="nav__toggle">
  <label class="nav__toggle-label" for="nav__toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <ul class="nav">
    {% for p in site.pages %}
      {% if p.title %}
        <li class="nav-item {% if p.url == page.url %}nav-item--active{% endif %}">
          <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-item">
      <a href="#schedule">Schedule</a>
    </li>
    <li class="nav-item">
      <a href="#blog">Blog</a>
    </li>
    <li class="nav-item nav-item--highlighted">
      <a href="#tickets">Tickets</a>
    </li>
  </ul>
</header>
