body {
  padding-top: 50px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.nav {
  text-align: center;
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
  padding: 1.6em 0;
}

.nav-item a {
  text-decoration: none;
  color: $primary-color;
  padding: 8px 15px;
  font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.2px;
}

.nav-item--highlighted a {
  border-radius: 8px;
  color: #ffffff;
  font-weight: 400;
	background-color: $primary-color;
	border: solid 1px $primary-color;
}

.nav-item--active,
.nav-item:hover {
  border-bottom: 2px solid $primary-color;
}

.nav-item--highlighted:hover {
  border-bottom: none;
}
