.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 28px 15px;
}

.nav-item--highlighted a {
  color: #ffffff;
  padding: 6px 15px;
  margin: 20px 15px;
  border-radius: 8px;
  background-color: $primary-color;
}

.nav-item--active,
.nav-item:hover {
  border-bottom: 2px solid $primary-color;
}

.nav__toggle {
  position: absolute;
  opacity: 0;
}

.nav__toggle-label {
  display: none;
  position: relative;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 20px;
  z-index: 10;
}

.nav__toggle-label span {
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: $font-color;
  transition: .25s ease-in-out;
  transform-origin: left center;
  will-change: transform;
}

.nav__toggle-label span:nth-child(1) {
  top: 0px;
}

.nav__toggle-label span:nth-child(2) {
  top: 9px;
}

.nav__toggle-label span:nth-child(3) {
  top: 18px;
}

.nav__toggle:checked ~ .nav__toggle-label span {
  background: #ffffff;
}

.nav__toggle:checked ~ .nav__toggle-label span:nth-child(1) {
  transform: rotate(45deg);
  top: 3px;
  left: 5px;
}

.nav__toggle:checked ~ .nav__toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav__toggle:checked ~ .nav__toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 25px;
  left: 5px;
}

@media(max-width: 860px) {
  body {
    padding-top: 0;
  }

  .header {
    position: static;
  }

  .nav {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(110vw);
    will-change: transform;
    transition: transform .3s cubic-bezier(0, 0, .3, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10vh 0;
    background: #363333;
    z-index: 9;
  }

  .nav-item {
    padding: 0;
  }

  .nav-item--active,
  .nav-item:hover {
    border-bottom: 0;
  }

  .nav-item a {
    color: #ffffff;
    font-size: 4vh;
    padding: 2vh 3vh;
  }

  .nav-item--active a,
  .nav-item:hover a {
    color: $primary-color;
    font-weight: bold;
  }

  .nav-item--highlighted.nav-item--active a,
  .nav-item--highlighted.nav-item:hover a {
    color: #ffffff;
    font-weight: inherit;
  }

  .nav__toggle-label {
    display: block;
    position: absolute;
  }

  .nav__toggle:checked ~ .nav {
    transform: translateX(0);
  }

  .nav__toggle:checked ~ .nav__toggle-label {
    transform: rotate(0);
    position: fixed;
  }
}
