.section-home-banner {
  background: #cccccc;
  padding-top: 30px;
}

.section-home-speakers {
  background: #ffffff;
}

.section-home-location {
  background: #e8e8e8;
}

.section-home-sponsors {
  background: #f6f6f6;
}
