/*
  Banner
*/
.section-home-banner {
  background-color: #cccccc;
  padding-top: 30px;
  background-image: url('./map.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: -20% 50%;
}

.section-home-banner .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home-banner__title {
  padding: 15vh 5vw;
}

.section-home-banner__title__name {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 6px;
}

.section-home-banner__title__year {
  font-size: 68px;
  font-weight: 800;
  letter-spacing: 15px;
}

.section-home-banner__info {
  padding: 8vh 5vw;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.section-home-banner__info__title {
  max-width: 40vw;
  font-weight: 600;
}

.section-home-banner__info__divider {
  display: inline-block;
  height: 1px;
  width: 50px;
  background: $font-color;
  margin: 10px 0 8px;
}

.section-home-banner__info__date {
  font-style: italic;
}

.section-home-banner__info__signup {
  margin-top: 40px;
}

.section-home-banner__info__signup form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.section-home-banner__info__signup input {
  margin: 0;
  padding: 10px;
  background-color: #ebebeb;
  border: solid 1px #d7d7d7;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  color: $font-color;
}

.section-home-banner__info__signup button {
  margin: 0 0 0 -5px;
  padding: 10px;
  background-color: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

@media(max-width: 860px) {
  .section-home-banner {
    background-size: contain;
  }

  .section-home-banner .section-container {
    flex-direction: column;
  }

  .section-home-banner__title {
    padding: 5vh;
  }

  .section-home-banner__info__title {
    max-width: none;
  }
}

@media(max-width: 520px) {
  .section-home-banner {
    background-size: 150%;
    background-position: 30% 50%;
  }
}

/*
  Speakers
*/
.section-home-speakers {
  background: #ffffff;
}

/*
  Location
*/
.section-home-location {
  background: #e8e8e8;
}

.section-home-location .section__side__image {
  background-image: url('budapest.jpg');
}

/*
  Sponsors
*/
.section-home-sponsors {
  background: #f6f6f6;
}
