/*
  Banner
*/
.section-home-banner {
  background-color: #fafafa;
  padding-top: 30px;
  background-image: url('./map.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: -20% 50%;
}

.section-home-banner .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home-banner__title {
  padding: 15vh 5vw;
}

.section-home-banner__title__name {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 6px;
}

.section-home-banner__title__year {
  font-size: 68px;
  font-weight: 800;
  letter-spacing: 15px;
}

.section-home-banner__info {
  padding: 8vh 5vw;
  font-size: 18px;
  text-align: center;
}

.section-home-banner__info__title {
  max-width: 40vw;
  font-weight: bold;
}

.section-home-banner__info__divider {
  display: inline-block;
  height: 1px;
  width: 50px;
  background: $font-color;
  margin: 10px 0 8px;
}

.section-home-banner__info__date {
  font-style: italic;
}

@media(max-width: 860px) {
  .section-home-banner {
    background-size: contain;
  }

  .section-home-banner .section-container {
    flex-direction: column;
  }

  .section-home-banner__title {
    padding: 5vh;
  }

  .section-home-banner__info__title {
    max-width: none;
  }
}

@media(max-width: 520px) {
  .section-home-banner {
    background-size: 150%;
    background-position: 30% 50%;
  }
}

/*
  Stay tuned
*/
.section-home-stay-tuned {
  background: #ffffff;
}

.section-home-stay-tuned p {
  text-align: center;
}

.section-home-stay-tuned .subscription-form {
  margin: 50px auto;
}

/*
  Speakers
*/
.section-home-speakers {
  background: #ffffff;

  &__speakers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px 0 40px;
    justify-content: center;
  }

  &__speaker {
    width: 20%;

    padding: 20px 40px 30px 40px;

    @media(max-width: 1450px) {
      width: 25%;
    }

    @media(max-width: 1150px) {
      width: 33.333%;
    }

    @media(max-width: 860px) {
      width: 50%;
      padding: 20px 20px 30px 20px;
    }

    @media(max-width: 520px) {
      width: 100%;
    }

    &:hover { text-decoration: none; }
  }

  &__speaker-photo {
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    transition: box-shadow 300ms ease;
  }

  &__speaker:hover &__speaker-photo {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }

  &__speaker-name {
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
  }
}

/*
  Location
*/
.section-home-location {
  background: #e8e8e8;
}

.section-home-location .section__side__image {
  background-image: url('budapest.jpg');
}

/*
  Sponsors
*/
.section-home-sponsors {
  background: #f6f6f6;
  padding-bottom: 60px;
}

.section-home-sponsors__logos {
  margin: 40px 0 10px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-home-sponsors__logo {
  min-width: 255px;
  margin: 0px 10px 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home-sponsors__link {
  outline: 0;
}

.section-home-sponsors__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-home-sponsors__paragraph {
  max-width: 500px;
  flex: 1;
  text-align: center;
}

@media(max-width: 1200px) {
  .section-home-sponsors__logos {
    flex-direction: column;
    margin: 20px 0 10px 0;
  }

  .section-home-sponsors__logo {
    margin: 20px 20px 20px 20px;
  }
}
