/*
  About
*/
.section-location-about .section-container {
  display: flex;
}

.section-location-about .section__side__image {
  background-image: url('budapest-2.jpg');
}

/*
  Map
*/
.section-location-map {
  background: #f3f3f3;
}

@media(max-width: 860px) {
  .section-location-map .section-container {
    flex-direction: column-reverse;
  }
}

/*
  Image
*/

.section-location-image {
  height: 500px;
  background-image: url('durer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
