.post-image {
  width: 100%;
  padding-bottom: 45%;

  background-position: center center;
  background-size: cover;
}

.post-content {
  padding: 20px;

  @media(min-width: 860px) {
    padding: 20px 40px 60px 40px;
  }

  h1, h2, h3 {
    color: $primary-color;
    display: inline-block;
    position: relative;
    font-style: italic;
    line-height: 1.8;
    margin-top: 4vh;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  h1::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 1px;
    bottom: 0px;
    background: $primary-color;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 16px;
  }

  p {
    margin-top: 2vh;
  }

  ul {
    margin-left: 20px;
    list-style-type: disc;
    list-style-position: inside;

    a {
      text-decoration: underline;

      color: $font-color;

      &:hover { color: $primary-color; }
    }
  }
}
