.section-sponsors {
  background: #ffffff;
}

/*
  List
*/
.sponsors-list {
  margin: 0px auto 50px auto;

  &__section-title {
    color: $font-color;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px 340px;
    line-height: 1.8;

    @media (max-width: 860px) {
      margin: 0 0 20px 0px;
    }
  }

  &__section-text {
    margin: 0 0 40px 340px;

    @media (max-width: 860px) {
      margin: 0 0 40px 0px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 860px) {
      flex-wrap: wrap;
      margin-bottom: 60px;
    }
  }

  &__image {
    min-width: 300px;

    display: flex;
    margin-right: 40px;
    justify-content: center;

    @media (max-width: 860px) {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }

  &__image-link {
    outline: 0;
  }

  &__title {
    color: $primary-color;
    display: inline-block;
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
    font-style: italic;
    line-height: 1.8;
  }

  &__link {
    margin-bottom: 10px;
  }
}

/*
  Call
*/
.sponsors-call {
  margin: 80px auto;
  text-align: center;
}

.sponsors-call p {
  margin-bottom: 40px;
}
