.section-sponsors {
  background: #ffffff;
}

/*
  List
*/
.sponsors-list {
  margin: 40px auto 80px auto;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 860px) {
      flex-wrap: wrap;
      margin-bottom: 60px;
    }
  }

  &__image {
    display: flex;
    margin-right: 40px;

    @media (max-width: 860px) {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }

  &__image-link {
    outline: 0;
  }

  &__title {
    color: $primary-color;
    display: inline-block;
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
    font-style: italic;
    line-height: 1.8;
  }

  &__link {
    margin-bottom: 10px;
  }
}

/*
  Call
*/
.sponsors-call {
  margin: 80px auto;
  text-align: center;
}

.sponsors-call p {
  margin-bottom: 40px;
}

/*
  Packages
*/
.sponsors-packages {
  margin-bottom: 30px;
}

.sponsors-packages__package {
  color: $primary-color;
}

.included-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url('./icon-check.svg');
  background-repeat: no-repeat;
}

.not-included-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url('./icon-cross.svg');
  background-repeat: no-repeat;
}

.sponsors-packages-observations {
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px;
}
