.section-sponsors {
  background: #ffffff;
}

/*
  Call
*/
.sponsors-call {
  margin: 80px auto;
  text-align: center;
  font-size: 14px;
}

.sponsors-call p {
  margin-bottom: 40px;
}

/*
  Packages
*/
.sponsors-packages {
  margin-bottom: 30px;
}

.sponsors-packages__package {
  color: $primary-color;
}

.included-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url('./icon-check.svg');
  background-repeat: no-repeat;
}

.not-included-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url('./icon-cross.svg');
  background-repeat: no-repeat;
}

.sponsors-packages-observations {
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px;
}

@media(max-width: 860px) {
  .sponsors-packages-observations {
    display: none;
  }
}
