.subscription-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.subscription-form input {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ebebeb;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  font-size: 16px;
  color: $font-color;
  width: 100%;
  max-width: 300px;
}

.subscription-form button {
  margin: 0;
  padding: 10px;
  background-color: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}
