.subscription-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.subscription-form input {
  margin-bottom: 25px;
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px $font-color;
  text-align: center;
  font-size: 16px;
  color: $font-color;
  width: 100%;
  max-width: 300px;
}

.subscription-form button {
  margin: 0;
  padding: 10px;
  background-color: transparent;
  border: solid 2px $primary-color;
  border-radius: 5px;
  font-size: 16px;
  color: $primary-color;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}

.subscription-form button:active {
  background-color: $primary-color;
  color: #ffffff;
}
