.subscription-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.subscription-form input {
  margin: 0;
  padding: 10px;
  background-color: #ebebeb;
  border: solid 1px #d7d7d7;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  color: $font-color;
  flex-grow: 2;
  max-width: 300px;
}

.subscription-form button {
  margin: 0 0 0 -5px;
  padding: 10px;
  background-color: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  flex-grow: 1;
  max-width: 150px;
}
