<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body class="disable-css-transitions">
  {% include header.html %}
    <section class="section-speakers">
      <div class="section-container section-container--half">
        <div class="post-image" style="background-image: url('{{ page.image }}');"></div>
        <div class="post-content">
          {{content}}
        </div>
      </div>
    </section>
  {% include footer.html %}
  <script>
    window.addEventListener('load', enableCssTransitions)

    function enableCssTransitions() {
      document.body.classList.remove('disable-css-transitions')
    }
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga')
    ga('create', 'UA-93227228-1', 'auto')
    ga('send', 'pageview')
  </script>
</body>
</html>
